header
  position: fixed
  width: 100%
  background: var(--back)
  z-index: 1000
  padding: 24px 0
  top: 0
  left: 0
  .logo
    margin-right: 70px
  .minnav
    width: 310px
    h5
      transition: .5s
      border-bottom: 1px solid var(--back)
    h5:hover
      border-bottom: 1px solid black
  .tel-mail
    width: 600px
    .tel
      h5:nth-child(1)
        padding-right: 10px
        border-right: 1px solid black
        margin-right: 10px
    .viber-telegram
      width: 44px
    .searh-basket
      width: 67px